* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

/* container */
.container {
  padding: 0 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
.header {
  margin: 5rem 0 1.5rem;
  text-align: center;
}

.header .city {
  font-size: 2rem;
  font-weight: 400;
}

.header .weather {
  margin: 0.2rem 0;
  color: #424242;
}

.header .temp {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.3rem 0;
}

/* Modal */
.btn-modal {
  background: #fff;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}

.btn-modal:focus {
  outline: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  display: relative;
  position: fixed;
  background: white;
  width: 80%;
  max-width: 400px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.4rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 3%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.modal-city {
  font-weight: 400;
  margin: 0.3rem 0;
}

.modal-des {
  font-weight: 300;
}

.modal-img {
  margin: 1rem 0;
  font-size: 4rem;
}

.modal-temp {
  margin: 0.2rem 0;
}

/* Search */
.search {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.search-icon i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.search-input {
  border: none;
  font-size: 1.2rem;
}

.search-input::placeholder {
  color: #000;
}

.search-input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

/* Weather List */
.weather-list {
  list-style: none;
  width: 100vw;
  margin: 3rem 0;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.5rem;
}

/* Weather */

.fav-weather {
  width: 200px;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 0.4rem;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fav-city {
  text-align: center;
  font-weight: 700;
}

.fav-des {
  margin: 0.3rem 0;
  font-weight: 300;
}

.fav-temp {
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0.2rem 0;
}
