* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

/* container */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
.header {
  margin: 1.5rem 0;
  text-align: center;
}

.header .city {
  font-size: 2rem;
  font-weight: 400;
}

.header .weather {
  margin: 0.2rem 0;
  color: #424242;
}

.header .temp {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.3rem 0;
}

/* Modal */
.btn-modal {
  background: #fff;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.2rem;
}

.btn-modal:focus {
  outline: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  display: relative;
  position: fixed;
  background: white;
  width: 80%;
  max-width: 400px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.4rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 3%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.modal-content .modal-city {
  font-weight: 400;
  margin: 0.3rem 0;
}

.modal-content .modal-des {
  font-weight: 300;
}

.modal-content .modal-img {
  margin: 1rem 0;
  font-size: 4rem;
}

.modal-content .modal-temp {
  margin: 0.2rem 0;
}
